<nav class="navbar">
  <div class="navbar-container">

    <a class="logo" routerLink="/mobile">
      Lattel
    </a>

    <div class="nav-links">
      <a
        routerLink="/mobile"
        routerLinkActive="active"
      >
        Mobile
      </a>

      <a
        routerLink="/internet"
        routerLinkActive="active"
      >
        Internet
      </a>

      <a
        routerLink="/tv"
        routerLinkActive="active"
      >
        TV
      </a>

      <a
        routerLink="/support"
        routerLinkActive="active"
      >
        Support
      </a>
    </div>

  </div>
</nav>